@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 187deg 68% 10%;
    --color-secondary: 4deg 17% 92%;
    --color-tertiary: 187deg 36% 23%;
  }

  html,
  body {
    height: 100%
  }
}